
.footer {
    background-color: #fff;
    color: #0b0b0b;
    padding-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #333;
}

.footer-logo h2 {
    color: var(--bg-white);
    font-size: 28px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-menu h4 {
    color: var(--bg-white);
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li a {
    color: #454242;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.2;
    transition: color 0.3s ease;
}

.footer-menu ul li a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: #a0a0a0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}


